<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <% @fav_links.each do |link| %>
    <a href="<%=link%>"><%=link%></a> 
    <% end -%>
  </body>
</html>
